*{
    box-sizing: border-box;
    margin: 0px;
}

#ui{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    background: black;
    color: white;
}
h3{
    margin-top: 10px;
}

#search {
    text-align: center;
    height: 30px;
    margin-left: 1200px;
    margin-top: 20px;
}

